# Zkopíruj tento soubor jako .env.local a doplň hodnoty z Vercel Dashboard

# Vercel Postgres
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NO_SSL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

# SMTP (Seznam.cz Email Profi)
SMTP_USER="web@petdohod.cz"
SMTP_PASSWORD=""
EMAIL_FROM="web@petdohod.cz"
ADMIN_EMAIL="kouc@martinfuks.cz"  # Email pro admin notifikace

# Admin heslo (můžeš změnit)
ADMIN_PASSWORD="pet-dohod-2026"
